/*GDG Luanda custom style 
*** ***** ***** ******* ******* ****
*** *** *** * ** *** ****** ****
* ********* ****
*  ***   **

*/

.lead {
  font-size: 1.1rem !important;
  font-weight: 100 !important;
}

.logo {
  position: absolute;
  top: 0;
  left: 23%;
}

.gdg-angola {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  border-radius: 15px;
  line-height: 24px;
  color: #737373;
}

.gdg-angola hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.gdg-angola hr.small {
  margin: 20px 0;
}

.gdg-angola h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.gdg-angola a {
  color: #737373;
}

.gdg-angola a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.gdg-angola .social-icons {
  text-align: right;
}

.gdg-angola .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
}

.copyright-text {
  margin: 0;
}

/*button style*/

.btn-p {
  padding: 0.375rem 2.75rem !important;
  border-radius: 10px !important;
  /* border: 2px solid #4285f4; border: 1px solid #4285f4;*/
}

/*type txt*/

span.type {
  margin: 0 auto;
}

span.type::after {
  content: '|';
  display: inline;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/

.typed-cursor {
  opacity: 0;
  display: none;
}

/*Custom cursor animation*/

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Custom style icons social*/

.icon-social-w {
  top: 1.5px;
  position: relative;
}

.social-icons {
  position: relative;
  top: -10px;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #5d7bbb;
}

.social-icons a.twitter:hover {
  background-color: #15bffd;
}

.twitter {
  background-color: #00aced;
  color: #fff !important;
}

.facebook {
  background-color: #3b5998;
  color: #fff !important;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/*mobile logo adaptive*/

@media screen and (max-width: 900px) {
  .img-logo {
    width: inherit;
    height: inherit;
    margin-left: 7%;
  }
}

/*adaptive custom*/

@media (max-width: 991px) {
  .gdg-angola [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .gdg-angola {
    padding-bottom: 0;
  }
  .gdg-angola .copyright-text, .gdg-angola .social-icons {
    text-align: center;
  }
}